In [15]:
import numpy as np
import pandas as pd
import os
import sys
import matplotlib.pyplot as plt
%matplotlib inline

In [16]:
df = pd.read_csv('../Data/external/datatest.txt', parse_dates=True, index_col=1 )
df.drop(columns=['date'], inplace=True)

In [17]:
df.head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
2015-02-02 14:19:00,23.7000,26.272,585.200000,749.200000,0.004764,1
2015-02-02 14:19:59,23.7180,26.290,578.400000,760.400000,0.004773,1
2015-02-02 14:21:00,23.7300,26.230,572.666667,769.666667,0.004765,1
2015-02-02 14:22:00,23.7225,26.125,493.750000,774.750000,0.004744,1
2015-02-02 14:23:00,23.7540,26.200,488.600000,779.000000,0.004767,1

In [18]:
def add_time_features(df):
    df['hour'] = df.index.hour
    df['dayofweek'] = df.index.dayofweek
    df['dayofmonth'] = df.index.day
    
    df['sine_hr'] = np.sin(df.index.hour/6)
    df['cos_hr'] = np.cos(df.index.hour/6)
    return df

In [19]:
df_features = add_time_features(df)

In [20]:
df_features.head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy,hour,dayofweek,dayofmonth,sine_hr,cos_hr
2015-02-02 14:19:00,23.7000,26.272,585.200000,749.200000,0.004764,1,14,0,2,0.723086,-0.690758
2015-02-02 14:19:59,23.7180,26.290,578.400000,760.400000,0.004773,1,14,0,2,0.723086,-0.690758
2015-02-02 14:21:00,23.7300,26.230,572.666667,769.666667,0.004765,1,14,0,2,0.723086,-0.690758
2015-02-02 14:22:00,23.7225,26.125,493.750000,774.750000,0.004744,1,14,0,2,0.723086,-0.690758
2015-02-02 14:23:00,23.7540,26.200,488.600000,779.000000,0.004767,1,14,0,2,0.723086,-0.690758

In [21]:
df_features.rename(columns={'Occupancy': 'class'}, inplace=True)

In [22]:
df_features.head()

,Temperature,Humidity,Light,CO2,HumidityRatio,class,hour,dayofweek,dayofmonth,sine_hr,cos_hr
2015-02-02 14:19:00,23.7000,26.272,585.200000,749.200000,0.004764,1,14,0,2,0.723086,-0.690758
2015-02-02 14:19:59,23.7180,26.290,578.400000,760.400000,0.004773,1,14,0,2,0.723086,-0.690758
2015-02-02 14:21:00,23.7300,26.230,572.666667,769.666667,0.004765,1,14,0,2,0.723086,-0.690758
2015-02-02 14:22:00,23.7225,26.125,493.750000,774.750000,0.004744,1,14,0,2,0.723086,-0.690758
2015-02-02 14:23:00,23.7540,26.200,488.600000,779.000000,0.004767,1,14,0,2,0.723086,-0.690758

In [23]:
df_features.isnull().mean()

Temperature      0.0
Humidity         0.0
Light            0.0
CO2              0.0
HumidityRatio    0.0
class            0.0
hour             0.0
dayofweek        0.0
dayofmonth       0.0
sine_hr          0.0
cos_hr           0.0
dtype: float64

In [24]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(df_features.drop(columns=['class'], axis=1), df_features['class'], test_size=0.2, stratify=df_features['class'])

In [26]:
from tpot import TPOTClassifier
tpot = TPOTClassifier(verbosity=2, max_time_mins=60*2, max_eval_time_mins=5, population_size=40)
tpot.fit(X_train.values, Y_train.values)

HBox(children=(FloatProgress(value=0.0, description='Optimization Progress', max=40.0, style=ProgressStyle(des…

Generation 1 - Current best internal CV score: 0.9854614022935427
Generation 2 - Current best internal CV score: 0.9854614022935427
Generation 3 - Current best internal CV score: 0.9878055216545173
Generation 4 - Current best internal CV score: 0.9878055216545173
Generation 5 - Current best internal CV score: 0.9878055216545173
Generation 6 - Current best internal CV score: 0.9878066211476509
Generation 7 - Current best internal CV score: 0.9878110191201855
Generation 8 - Current best internal CV score: 0.9882794031951271
Generation 9 - Current best internal CV score: 0.9882794031951271
Generation 10 - Current best internal CV score: 0.9882794031951271
Generation 11 - Current best internal CV score: 0.9882794031951271
Generation 12 - Current best internal CV score: 0.9892172708381436
Generation 13 - Current best internal CV score: 0.9892172708381436
Generation 14 - Current best internal CV score: 0.9892172708381436
Generation 15 - Current best internal CV score: 0.9892172708381436
Generation 16 - Current best internal CV score: 0.9896845554199514
Generation 17 - Current best internal CV score: 0.9896845554199514
Generation 18 - Current best internal CV score: 0.9896845554199514
Generation 19 - Current best internal CV score: 0.9896845554199514
Generation 20 - Current best internal CV score: 0.9901529394948929
Generation 21 - Current best internal CV score: 0.9901529394948929
Generation 22 - Current best internal CV score: 0.9901529394948929
Generation 23 - Current best internal CV score: 0.9901529394948929
Generation 24 - Current best internal CV score: 0.9901529394948929
Generation 25 - Current best internal CV score: 0.9901529394948929
Generation 26 - Current best internal CV score: 0.9901529394948929
Generation 27 - Current best internal CV score: 0.9901529394948929
Generation 28 - Current best internal CV score: 0.9901529394948929
Generation 29 - Current best internal CV score: 0.9901529394948929
Generation 30 - Current best internal CV score: 0.9901529394948929
Generation 31 - Current best internal CV score: 0.9901529394948929
Generation 32 - Current best internal CV score: 0.9910919066310431
Generation 33 - Current best internal CV score: 0.9910919066310431
Generation 34 - Current best internal CV score: 0.9910919066310431
Generation 35 - Current best internal CV score: 0.9910919066310431
Generation 36 - Current best internal CV score: 0.9910919066310431
Generation 37 - Current best internal CV score: 0.9910919066310431
Generation 38 - Current best internal CV score: 0.9910919066310431
Generation 39 - Current best internal CV score: 0.9910919066310431
Generation 40 - Current best internal CV score: 0.9910919066310431
Generation 41 - Current best internal CV score: 0.9910919066310431
Generation 42 - Current best internal CV score: 0.9910919066310431
Generation 43 - Current best internal CV score: 0.9910919066310431
Generation 44 - Current best internal CV score: 0.9910919066310431
Generation 45 - Current best internal CV score: 0.9910919066310431
Generation 46 - Current best internal CV score: 0.9910919066310431
Generation 47 - Current best internal CV score: 0.9910919066310431
Generation 48 - Current best internal CV score: 0.9910919066310431
120.93 minutes have elapsed. TPOT will close down.
TPOT closed during evaluation in one generation.
WARNING: TPOT may not provide a good pipeline if TPOT is stopped/interrupted in a early generation.


TPOT closed prematurely. Will use the current best pipeline.

Best pipeline: GradientBoostingClassifier(MLPClassifier(OneHotEncoder(Normalizer(SelectPercentile(input_matrix, percentile=83), norm=l2), minimum_fraction=0.15, sparse=False, threshold=10), alpha=0.0001, learning_rate_init=1.0), learning_rate=0.01, max_depth=10, max_features=0.9500000000000001, min_samples_leaf=4, min_samples_split=8, n_estimators=100, subsample=0.8500000000000001)

TPOTClassifier(config_dict=None, crossover_rate=0.1, cv=5,
               disable_update_check=False, early_stop=None, generations=100,
               log_file=<ipykernel.iostream.OutStream object at 0x000002A24E8CCC88>,
               max_eval_time_mins=5, max_time_mins=120, memory=None,
               mutation_rate=0.9, n_jobs=1, offspring_size=None,
               periodic_checkpoint_folder=None, population_size=40,
               random_state=None, scoring=None, subsample=1.0, template=None,
               use_dask=False, verbosity=2, warm_start=False)

In [27]:
tpot.export('best_pipeline.py')